<html>
<head>
	
	<meta charset="UTF-8">
	<title>HORSE BLOG</title>
</head>

	<body>
		<header>
			<h1>HORSE BLOG</h1>
		</header>

		<div>
			<h3>Sign In</h3>
			<form method="post" action="/login">
				<h5>Username</h5>
				<input id="username" type="text" name="username">
				<h5>Password</h5>
				<input id="password" type="text" name="password">
				<br>
				<button type="submit">Sign Me In!</button>
			</form>
		</div>

		<!-- <div>
			<h3>Sign Up</h3>
			<form>
				First name:<br>
  				<input type="text" name="firstname">
  				<br>
				Last name:<br>
			  	<input type="text" name="lastname">
			  	<br>
			  	E-mail:<br>
			  	<input type="text" name="email">
			  	<br>
			  	username:<br>
			  	<input type="text" name="email">
			  	<br>
			  	password:<br>
			  	<input type="text" name="email">
			  	<br>

			<input id = "newUser" type="button" value="Sign Me Up!" method="post" action="/login">
			</form>
		</div> -->

		<div>
			<p><!--  random posts from random users --></p>
		</div>

		<footer>
			<p>Created by &#9734 Nathan and Kathleen &#9734</p>
			<p>2015</p>
		</footer>
</html>