<script src="/jquery/jquery.js"></script>

<button type="button" onclick="location.href='/login'" id="signout">Sign Out</button>

<script>

function refreshPosts () {
  $.getJSON("/profile", function (data) {
    var posts = data.posts;
    var userArray = [];
    
    function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    var name = '';
      if (parts.length == 2) 
        return parts.pop().split(";").shift();
      }

      posts.forEach(function(element, index, array){
        if(element.user === getCookie('user')) {
          userArray.push(posts[index])
        }
        console.log(userArray)

        }); 

  });
</script>

req.apps.local.messges.post.user