<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js'></script>
<script src="/profile_build.js"></script>
<button type="button" onclick="location.href='/login'" id="signout">Sign Out</button>
