<script src="/jquery/jquery.js"></script>
<header>
	<button type="submit" id="signout">Sign Out</button>
	$(#signout).click(function(){
		$.get('/login')
	})
	
	<!-- location takes you to login html page -->
</header>

<div>
	<h1>NAME</h1>
	<img src="/Users/kathleen/horse-blog.png"/>
</div>

<div>
	<h3>Member Since:</h3>
	<p>2015</p>
</div>

<div>
	<h3>Friends:</h3>
	<p><a>Friend</a><!--list of friends each name/pic is link to their profile--></p>

</div>

<div>
	<h3># of posts:</h3>
	<p><a># of posts<!-- variable name temp --></a></p>
	<!-- click on number takes you to page with posts listed -->
</div>


<div>
	<h3>E-mail:</h3>
	<address>Contact: <a href='mailto:someone@example.com'>someone@example.com</a></address>
</div>

</body>