<script src="/jquery/jquery.js"></script>

<button type="button" onclick="location.href='/login'" id="signout">Sign Out</button>

<script>

function refreshPosts () {
  $.getJSON("/profile", function (data) {
    var posts = data.posts;
    var userArray = [];
    //console.log(posts)
  	posts.forEach(function(element, index, array){
    	if(element.user === req.cookies.user) {
    		userArray.push(element.user)
    	}
    	console.log(userArray)

  });
</script>

