<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/users_build.js"></script>


<button type="button" onclick="location.href='/profile'" class="buttons" id="profile">Profile</button>
<button type="button" onclick="location.href='/login'" class="buttons" id="signout">Sign Out</button>


<button type="submit" id="target" class="buttons">Post</button>
<textarea rows="4" cols="38" id="textarea">
</textarea>
