<!-- <script src="/jquery/jquery.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- <script type="text/javascript" src="/users.js"> -->

</script>

<div id="messages">
  {{#each knots}}
  <div class="knot">
    <p class="user">{{user}}</p>
    <p class="caption">{{message}}</p>
  </div>
  {{/each}}
</div>


<button type="submit" id="target">Click Me</button>
<textarea rows="4" cols="50" id="textarea">
</textarea>

<script>
$( "#target" ).click(function() {
  var text = $('#textarea').val();
  //console.log(typeof text);
  $.post( "/users", {'message': text});

});

</script>



<script type="text/javascript">

window.onload = function() {



function refreshPosts () {
  $.getJSON("/posts", function (data) {
    var posts = data.posts;
    $("div").remove();
  posts.forEach(function(element, index, array){
    var type = "";

  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    var name = '';
    if (parts.length == 2) return parts.pop().split(";").shift();
  }

  if(element.user == getCookie('user')){
    type = "me";
  } else {
    type = "you";
  }


    $div = $('<div>', {class: "bubble " + type,
                      id: element.user
                    }).text(element.user + '\: ');
    $span = $('<span>', { class: "tweet"}).text(element.message);

  console.log(getCookie('user'));
  $span.appendTo($div);

  $div.appendTo('body');

  });

  });
}
window.setInterval(refreshPosts, 5000);
};
</script>


<button type="button" onclick="location.href='/profile'" id="profile">profile</button>

<!-- //router.get('/posts.json', )
//res.json({posts: req.app.locals.posts}) -->
