body {
  width: 300px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.buttons {
  background-color: hsl(193, 32%, 53%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aacad3", endColorstr="#609cad");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#aacad3), to(#609cad));
  background-image: -moz-linear-gradient(top, #aacad3, #609cad);
  background-image: -ms-linear-gradient(top, #aacad3, #609cad);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aacad3), color-stop(100%, #609cad));
  background-image: -webkit-linear-gradient(top, #aacad3, #609cad);
  background-image: -o-linear-gradient(top, #aacad3, #609cad);
  background-image: linear-gradient(#aacad3, #609cad);
  border-color: #609cad #609cad hsl(193, 32%, 47.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
  -webkit-font-smoothing: antialiased;
}


.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;
    margin: 5px 45px 5px 20px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}



.hoverbutton {
    color: red;
    display: none;
    margin-left: 6px;
    font-size: 10px;
}
.bubble:hover .hoverbutton {
    display: inline;
}

#textarea {
  width: 289px;
}
